.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  background-color: #111;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.Robot {
  // width: 30%;
  padding: 3%;
  width: 50%;
  @media (min-width: 640px) {
    width: 30%;
  }
}
.Typing {
  // width: 50%;
  color: greenYellow;
  font-weight: 700;
  font-size: 20px;
  width: 60%;
  @media (min-width: 640px) {
    width: 50%;
    font-size: 30px;
  }
  p {
    margin: 0;
    line-height: 150%;
    text-shadow: 20px 100px 20px green;
    &::before {
      content: "> ";
    }
    &:nth-last-of-type(1)::after {
      content: "_";
      animation: cursor 0.3s infinite alternate;
    }
  }
}

@keyframes cursor {
  0%,
  30% {
    opacity: 0;
  }
  70%,
  100% {
    opacity: 1;
  }
}
